.dialogues {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogueItems {
    padding: 10px;
}

.dialogueItems .active {
    color: gold;
}

.dialogue {

}

.messages {
    padding: 10px;
}

.message {

}