.app-wrapper {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/

    grid-template-areas:
            "header header"
            "navbar content";
}

.app-wrapper-content {
    grid-area: content;
    background-color: darkgrey;
}




